table {
    width: 60%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1 {
    text-align: center;
}
tbody tr:nth-child(even){
    background-color: lightskyblue;
}
tbody tr:nth-child(odd){
    background-color: pink;
}
a {
    text-decoration: none;
}
 a:link { 
    color: purple; 
    font-size: 1.6em;
}

 a:visited { 
    color: purple; 
}

 a:hover { 
    color: #A52A2A; 
}